// Import variable
@import 'vars.scss';

// Set root font size (16 is default)
:root {
    font-size: $root-font-size;
}
body {
    color: $text-color;
    font-family: $custom-google-font;
    &.lightbg {
        background-color: $light-bg;
    }
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
}
blockquote {
    font-size: 24px;
    font-weight: 500;
    font-style: italic;
    color: $muted-text-color;
    line-height: 38px;
    margin: 0;
    margin-bottom: $gap;
    @media screen and (max-width: 600px) {
        font-size: 20px;
        line-height: 26px;
    }
}
.card {
    border-color: $border-color;
}

.btn {
    font-weight: 600;
    text-transform: uppercase;
    &.btn-primary {
        background-color: $accent-color;
        border-color: $accent-color;
        color: #ffffff;
        border-radius: $radius;
        &:hover {
            color: #ffffff;
            background-color: darken($accent-color,9);
        }
    }
    &.btn-success {
        background-color: $secondary-color;
        border-color: $secondary-color;
        color: #ffffff;
        border-radius: $radius;
        &:hover {
            color: #ffffff;
            background-color: darken($secondary-color,9);
        }
    }
    &.btn-large {
        padding-left: $gap;
        padding-right: $gap;
        height: 60px;
    }
}
a.btn {
    &.btn-large {
        padding-left: $gap;
        padding-right: $gap;
        height: 60px;
        padding-top: 17px;
    }
}

.hero {
    background: url(../img/hero_main_img@2x.jpg);
    background-size: cover;
    position: relative;
    padding: 0;
    &:after {
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        position: absolute;
        background: rgb(103,178,111);
        background: linear-gradient(135deg, rgba(103,178,111,.75) 0%, rgba(76,162,205,.75) 100%);
    }
    .hero-content {
        padding: $gap * 3 0;
        position: relative;
        z-index: 2;
        color: #ffffff;
        h2 {
            font-size: 42px;
            font-weight: 700;
            margin-bottom: $gap / 3;
        }
        p {
            font-size: 20px;
            color: rgba(255,255,255,.6);
            font-weight: 300;
            margin-bottom: $gap;
        }
        .project-search {
            position: relative;
            > .form-control {
                height: 60px;
                background-color: rgba(255,255,255,.2);
                border-color: #ffffff;
                position: relative;
                z-index: 2;
                padding-left: $gap * 2;
                padding-right: $gap;
                color: #ffffff;
                &::placeholder {
                    color: rgba(255,255,255,.6);
                }
                &:focus {
                    color: #ffffff;
                    &::placeholder {
                        color: rgba(255,255,255,.6);
                    }
                }
            }
            &:before {
                font-family: 'feathericon';
                position: absolute;
                z-index: 1;
                left: $gap / 2;
                top: $gap / 2;
                width: 30px;
                height: 30px;
                content: "";
                color: rgba(255,255,255,.6);
                font-size: 20px;
            }
            .btn {
                position: absolute;
                z-index: 3;
                padding-left: $gap;
                padding-right: $gap;
                top: $gap / 3;
                right: $gap / 3;
            }
        }
    }
    &.home {
        .hero-content {
            padding: $gap * 5 0;
            h2 {
                font-size: 60px;
                margin-bottom: $gap;
            }
            p {
                margin-bottom: $gap * 4;
            }
            .btn-primary {
                height: 60px;
                padding-left: $gap;
                padding-right: $gap;
                box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.1);
                padding-top: 17px;
            }
        }
    }
    &.has-overflow {
        padding-bottom: $gap * 5;
    }
}
@media screen and (max-width: 600px) {
    .hero {
        .hero-content {
            padding: $gap 0;
                
            h2 {
                font-size: 32px;
                margin-bottom: $gap / 2;
            }
            p {
                font-size: 16px;
                margin-bottom: $gap;
            }
        }
        &.home {
            .hero-content {
                padding: $gap * 2 0;
                
                h2 {
                    font-size: 32px;
                    margin-bottom: $gap / 2;
                }
                p {
                    font-size: 16px;
                    margin-bottom: $gap * 2;
                }
            }
        }
    }
}

header {
    height: 100px;
    position: relative;
    z-index: 3;
    box-shadow: 0px 1px 0px 0px rgba(255,255,255,.15);
    .logo {
        line-height: 100px;
        font-size: 28px;
        > a {
            color: #ffffff;
            text-decoration: none;
            font-weight: 700;
            &:hover {
                text-decoration: none;
                color: #ffffff;
            }
        }
    }
    .phone {
        padding: $gap / 3 0;
        color: #ffffff;
        padding-left: $gap;
        box-shadow: -1px 0px 0px 0px rgba(255,255,255,0.3);
        > i.icon {
            margin-right: $gap / 2;
        }
    }
    nav {
        margin-right: $gap / 2;
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            > li {
                display: inline-block;
                position: relative;
                text-transform: uppercase;
                z-index: 4;
                &.active {
                    &:after {
                        content: "";
                        height: 2px;
                        width: 70px;
                        background-color: #ffffff;
                        position: absolute;
                        top: calc(100% + #{$gap - 4});
                        left: 50%;
                        margin-left: -35px;
                    }
                    > a {
                        color: #ffffff;
                    }
                }
                > a {
                    display: block;
                    padding: $gap / 3 $gap / 1.5;
                    color: rgba(255,255,255,.5);
                    text-decoration: none;
                    transition: color .3s ease-in-out;
                    &:hover {
                        text-decoration: none;
                        color: #ffffff;
                    }
                }
                > ul {
                    background-color: #ffffff;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.06);
                    padding-top: $gap /3;
                    padding-bottom: $gap /3;
                    border-radius: $radius;
                    display: none;
                    z-index: 4;
                    > li {
                        display: block;
                        width: 180px;
                        text-transform: none;
                        > a {
                            display: block;
                            padding: $gap / 4 $gap / 2;
                            color: $text-color;
                            text-decoration: none;
                            transition: color .3s ease-in-out, background-color .3s ease-in-out;
                            &:hover {
                                color: $primary-color;
                                background-color: $base-color;
                            }
                        }
                        &.active {
                            > a {
                                background-color: $primary-color;
                                &:hover {
                                    color: #ffffff;
                                }
                            }
                        }
                    }
                }
                &:hover {
                    > ul {
                        display: block;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 600px) {
    header {
        height: auto;
        text-align: center;
        .d-flex {
            display: block !important;
        }
        .logo {
            line-height: 60px;
        }
        nav {
            display: none;
        }
        .phone {
            box-shadow: none;
            padding: 0;
            display: inline-block;
            padding: 5px 20px;
            margin-bottom: 10px;
            background-color: rgba(0,0,0,.2);
            border-radius: 30px;
            > i.icon {
                margin-right: $gap / 3;
            }
        }
    }
}


// Section
section {
    padding: $gap * 4 0;
    .section-heading {
        margin-bottom: $gap * 3;
        h3 {
            font-size: 42px;
            font-weight: 700;
            margin-bottom: $gap / 1.5;
        }
        p {
            font-size: 20px;
            font-weight: 300;
            color: $muted-text-color;
        }
    }
    .inner-content {
        background-color: #ffffff;
        border: 1px solid $border-color;
        border-radius: $radius;
        padding: $gap * 2;
        p {
            line-height: 28px;
        }
        &.sm {
            padding: 0;
        }
    }
    &.overflow-content{
        position: relative;
        margin-top: -$gap * 9;
        z-index: 9;
        .inner-content {
            padding: $gap * 3;
            &.sm {
                padding: 0;
            }
        }
    }
}
@media screen and (max-width: 600px) {
    section {
        padding: $gap * 2 0;
        .section-heading {
            margin-bottom: $gap * 1.5;
            h3 {
                font-size: 32px;
                margin-bottom: $gap / 2;
            }
            p {
                font-size: 16px;
            }
        }
        &.overflow-content{
            margin-top: -$gap * 7;
            .inner-content {
                padding: $gap;
                .img-fluid.mb-5 {
                    margin-bottom: $gap / 2 !important;
                }
            }
        }
    }
}

// Section bagaimana
.howitworks {
    box-shadow: 0px 1px 0px 0px $border-color;
    .card {
        position: relative;
        padding-top: $gap;
        margin-bottom: $gap;
        transition: box-shadow .3s ease-in-out, border-color .3s ease-in-out;
        &:hover {
            box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.09);
            border-color: transparent;
        }
        &:before {
            position: absolute;
            left: 50%;
            margin-left: -15px;
            top: -15px;
            width: 30px;
            height: 30px;
            background-color: $accent-color;
            content: "";
            border-radius: 15px;
            z-index: 2;
            text-align: center;
            font-weight: 700;
            line-height: 30px;
            box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.25);
            color: #ffffff;
        }
        .card-body {
            padding: $gap;
            .point-img {
                width: 100%;
                max-width: 96px;
                margin-bottom: $gap;
            }
            .card-title {
                font-size: 22px;
                font-weight: 600;
            }
            .card-text {
                color: $muted-text-color;
                font-size: 14px;
            }
        }
        &.first{
            &:before {
                content: "1";
            }
        }
        &.second{
            &:before {
                content: "2";
            }
        }
        &.third{
            &:before {
                content: "3";
            }
        }
    }
    &.innerpage {
        box-shadow: 0 0 0 0 $border-color;
        .card {
            padding: 0;
            padding-top: $gap * 2;
            border-color: transparent;
            &:hover {
                box-shadow: 0px 0 0 0px rgba(0,0,0,0);
            }
            .card-body {
                padding: 0;
                .card-text {
                    line-height: 20px;
                }
            }
        }
    }
}

// Section kenapa
.whyus {
    .content {
        background: url(../img/why_image@2x.png);
        background-repeat: no-repeat;
        background-size: 705px 626px;
        z-index: 0;
        padding: $gap * 2 0;
        .media {
            border: 1px solid $border-color;
            background-color: #ffffff;
            border-radius: $radius;
            padding: $gap;
            margin-bottom: $gap / 1.5;
            transition: box-shadow .3s ease-in-out, border-color .3s ease-in-out;
            &:hover {
                box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.09);
                border-color: transparent;
            }
            .media-circle {
                margin-right: $gap;
                width: 88px;
                height: 88px;
                border-radius: 44px;
                font-size: 36px;
                text-align: center;
                line-height: 92px;
                color: #ffffff;
                position: relative;
                background: rgb(103,178,111);
                background: linear-gradient(135deg, rgba(103,178,111,1) 0%, rgba(76,162,205,1) 100%);
                &:before {
                    position: absolute;
                    z-index: 2;
                    top: -3px;
                    right: -4px;
                    width: 31px;
                    height: 30px;
                    content: "";
                    background: url(../img/why_check@2x.png);
                    background-repeat: no-repeat;
                    background-size: 31px 30px;
                }
            }
            .media-body {
                color: $muted-text-color;
                font-size: 16px;
                h5 {
                    color: $text-color;
                    font-size: 22px;
                    margin-top: 5px;
                    font-weight: 600;
                }
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .whyus {
        .content {
            background: none;
            padding: 0;
        }
    }
}

// Proyek pilihan
.theproject {
    &.homeproject {
        background-color: $light-bg;
    }
    .card {
        transition: box-shadow .3s ease-in-out, border-color .3s ease-in-out;
        margin-bottom: $gap;
        .img-wrap {
            position: relative;
            overflow: hidden;
            img {
                transition: transform .3s ease-in-out;
            }
            &:before {
                content: "";
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: rgb(0,0,0);
                background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.5) 100%);
                position: absolute;
                z-index: 1;
                width: 100%;
            }
            .project-status {
                position: absolute;
                z-index: 2;
                top: $gap / 3;
                right: 0;
                background: rgb(103,178,111);
                background: linear-gradient(135deg, rgba(103,178,111,1) 0%, rgba(76,162,205,1) 100%);
                padding: $gap / 6 $gap / 2;
                font-size: 14px;
                color: #ffffff;
                border-radius: 15px 0 0 15px;
                &.closed {
                    background: $muted-text-color;
                }
            }
            .project-progress {
                position: absolute;
                z-index: 2;
                bottom: 25px;
                right: $gap;
                left: $gap;
                .text-label {
                    color: #ffffff;
                    margin-bottom: $gap / 4;
                    font-size: 14px;
                }
                .progress {
                    padding: 4px;
                    background-color: rgba(255,255,255,.25);
                    height: 18px;
                    border-radius: 9px;
                    .progress-bar {
                        border-radius: 5px;
                        background: rgb(103,178,111);
                        background: linear-gradient(135deg, rgba(103,178,111,1) 0%, rgba(76,162,205,1) 100%);
                    }
                }
            }
        }
        .card-body {
            .card-title {
                font-size: 22px;
                font-weight: 600;
                > a {
                    color: $text-color;
                    text-decoration: none;
                    transition: color .3s ease-in-out;
                    &:hover {
                        color: darken($primary-color,20%) !important;
                        text-decoration: none;
                    }
                }
            }
            .card-subtitle {
                font-size: 14px;
                color: $muted-text-color;
                margin-bottom: $gap / 6;
            }
            .pricing {
                color: $yellow;
                padding: $gap / 6 $gap / 2;
                background-color: rgba($accent-color,.25);
                border-radius: 15px;
                font-weight: 700;
            }
            .content-list {
                list-style: none;
                padding: 0;
                margin: $gap / 1.5 0;
                > li {
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    padding: $gap / 5 0;
                    color: $muted-text-color;
                    span, strong {
                        position: relative;
                        z-index: 2;
                        background-color: #ffffff;
                        padding-right: 5px;
                    }
                    > strong {
                        color: $text-color;
                        font-weight: 700;
                        padding-right: 0;
                        padding-left: 5px;
                    }
                    &:before {
                        left: 0;
                        right: 0;
                        position: absolute;
                        height: 1px;
                        content: "";
                        top: 51%;
                        background: repeating-linear-gradient(
                        to right,
                        $border-color,
                        $border-color 3px,
                        #ffffff 3px,
                        #ffffff 6px
                        );
                    }
                }
            }
            .btn {
                margin: -$gap / 1.5;
                margin-top: 0;
                margin-bottom: -22px;
                display: block;
                border-radius: 0;
                padding-top: 20px;
                padding-bottom: 20px;
                border-width: 0;
                border-top: 1px solid $border-color;
                background-color: transparent !important;
                color: $primary-color;
            }
        }
        &:hover {
            box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.09);
            border-color: transparent;
            .img-wrap {
                img {
                    transform: scale(1.2);
                }
            }
            .card-body {
                .card-title {
                    > a {
                        color: $primary-color;
                    }
                }
                .btn {
                    color: $text-color;
                }
            }

        }
    }
}

// Dalam angla
.orifact {
    .fact-circle {
        margin-bottom: $gap;
        text-align: center;
        .circle {
            width: 120px;
            height: 120px;
            border-radius: 60px;
            margin: 0 auto;
            margin-bottom: $gap / 1.5;
            background: rgb(103,178,111);
            background: linear-gradient(135deg, rgba(103,178,111,1) 0%, rgba(76,162,205,1) 100%);
            .content {
                width: 96px;
                height: 96px;
                background-color: #ffffff;
                border-radius: 48px;
                font-size: 36px;
                font-weight: 700;
                small {
                    font-size: 14px;
                    font-weight: 400;
                    color: $muted-text-color;
                    display: block;
                    margin-top: -($gap / 2);
                }
            }
        }
        span {
            font-size: 18px;
            font-weight: 600;
        }
    }
}

// CTA
.cta {
    background: url(../img/cta_bg_img@2x.jpg);
    background-size: cover;
    position: relative;
    &:after {
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        position: absolute;
        background: rgb(103,178,111);
        background: linear-gradient(135deg, rgba(103,178,111,.75) 0%, rgba(76,162,205,.75) 100%);
    }
    .content {
        position: relative;
        z-index: 3;
        .section-heading {
            margin-bottom: $gap * 2;
            h3 {
                font-size: 36px;
                color: #ffffff;
            }
            p {
                color: #ffffff;
            }
        }
        .btn-primary {
            height: 60px;
            padding-left: $gap;
            padding-right: $gap;
            box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.1);
            padding-top: 17px;
        }
    }
}

// Logos
.maediapartner {
    padding: $gap * 2 0;
    text-align: center;
    img {
        width: 100%;
        max-width: 922px;
    }
}
@media screen and (max-width: 480px) {
    .maediapartner {
        display: none;
    }
}

// Footer
footer {
    background-color: $footer-bg;
    color: #ffffff;
    padding-top: $gap * 1.5;
    .footer-nav {
        margin-bottom: $gap;
        nav {
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                text-align: center;
                > li {
                    display: inline-block;
                    margin: 0 $gap / 1.5;
                    > a {
                        display: block;
                        text-transform: uppercase;
                        color: #ffffff;
                    }
                }
            }
        }
    }
    .footer-mid-section {
        margin-bottom: $gap;
        .logo {
            font-size: 24px;
            font-weight: 700;
            text-transform: uppercase;
        }
        .icons {
            .item {
                width: 32px;
                height: 32px;
                display: inline-block;
                border: 1px solid rgba(255,255,255,.2);
                border-radius: 16px;
                text-align: center;
                line-height: 32px;
                color: #ffffff;
                font-size: 16px;
                margin: 0 $gap / 10;
            }
        }
    }
    .footer-sm-nav {
        nav {
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                text-align: center;
                font-size: 12px;
                > li {
                    display: inline-block;
                    margin: 0 $gap / 3;
                    > a {
                        display: block;
                        color: rgba(255,255,255,.4);
                    }
                }
            }
        }
    }
    .copyright {
        margin-top: $gap * 1.5;
        background-color: $footer-copy;
        text-align: center;
        font-size: 12px;
        padding: $gap / 1.5 0;
    }
}
@media screen and (max-width: 600px) {
    footer {
        padding-top: $gap;
        .footer-mid-section.d-flex {
            display: block !important;
            text-align: center;
            .logo {
                margin-bottom: $gap / 2;
            }

        }
        .footer-nav,
        .footer-sm-nav {
            display: none;
        }
        .copyright {
            margin-top: $gap;
        }
    }
}


// Project Page
.projectpage {
    padding: 0;
    .content {
        padding: $gap * 2 0;
    }
    .project-tab {
        box-shadow: inset 0px -1px 0px 0px $border-color;
        text-align: center;
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            > li {
                display: inline-block;
                padding: 0 $gap;
                > a {
                    display: block;
                    color: $muted-text-color;
                    padding: ($gap / 3) + 3 0;
                    &:hover {
                        text-decoration: none;
                        color: $text-color;
                    }
                }
                &.active {
                    > a {
                        color: $text-color;
                        box-shadow: inset 0px -2px 0px 0px $primary-color;
                    }
                }
            }
        }
    }
}


// People
.people {
    margin-top: $gap;
    .ava {
        width: 150px;
        height: 150px;
        border-radius: 75px;
        margin-bottom: $gap;
    }
    .people-content {
        width: 100%;
        display: block;
        h5 {
            font-weight: 600;
            font-size: 20px;
            margin: 0;
        }
        small {
            font-size: 14px;
            color: $muted-text-color;
        }
        .social-icons {
            margin-top: $gap / 2;
            .icon {
                color: $muted-text-color;
                width: 38px;
                height: 38px;
                border-radius: 19px;
                margin: 0 2px;
                display: inline-block;
                background-color: $light-bg;
                border: 1px solid $dark-border-color;
                line-height: 33px;
                &:hover {
                    color: $text-color;
                }
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .people {
        margin-bottom: $gap;
    }
}

// Proyek detail
.projectdetail {
    &.overflow-content{
        .projectdetail-inner {
            margin-bottom: $gap * 3;
        }
        .theproject {
            margin-top: $gap * 1.5;
        }
        .download {
            background-color: $accent-color;
            padding: $gap / 3 $gap / 1.5;
            display: block;
            border-radius: $radius;
            color: #ffffff;
            position: relative;
            transition: ease-in-out background-color 0.25s;
            &:hover {
                text-decoration: none;
                background-color: darken($accent-color,9);
            }
            .heading {
                display: block;
                font-weight: 700;
                margin: 0;
                padding: 0;
            }
            small {
                margin: 0;
                padding: 0;
                display: block;
            }
            .ricon {
                position: absolute;
                z-index: 1;
                top: 5px;
                right: 5px;
                bottom: 5px;
                width: 52px;
                background-color: rgba(0,0,0,0.08);
                border-radius: 3px;
                text-align: center;
                font-size: 24px;
                line-height: 60px;
            }
        }
        .inner-content {
            .projectimg {
                position: relative;
                margin: -$gap * 3;
                margin-bottom: $gap * 2;
                overflow: hidden;
                img {
                    transition: transform .3s ease-in-out;
                }
                &:before {
                    content: "";
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background: rgb(0,0,0);
                    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.5) 100%);
                    position: absolute;
                    z-index: 1;
                    width: 100%;
                }
                .project-status {
                    position: absolute;
                    z-index: 2;
                    top: $gap / 3;
                    right: 0;
                    background: rgb(103,178,111);
                    background: linear-gradient(135deg, rgba(103,178,111,1) 0%, rgba(76,162,205,1) 100%);
                    padding: $gap / 6 $gap / 2;
                    font-size: 14px;
                    color: #ffffff;
                    border-radius: 15px 0 0 15px;
                    &.closed {
                        background: $muted-text-color;
                    }
                }
            }
            &.sm {
                padding: 0;
                margin-bottom: $gap / 1.5;
                .heading {
                    padding: $gap /1.5 $gap;
                    border-bottom: 1px solid $border-color;
                    background-color: $light-bg;
                    p {
                        font-size: 16px;
                        font-weight: 600;
                        margin: 0;
                        padding: 0;
                    }
                    h4 {
                        font-size: 30px;
                        color: $primary-color;
                        margin: 0;
                        padding: 0;
                    }
                }
                .content {
                    padding: $gap;
                    .project-progress {
                        margin-bottom: $gap / 1.5;
                        .text-label {
                            margin-bottom: $gap / 4;
                            font-size: 16px;
                            span > strong {
                                color: $text-color;
                            }
                            strong {
                                color: $primary-color;
                            }
                        }
                        .progress {
                            padding: 4px;
                            background-color: rgba(0,0,0,.05);
                            height: 18px;
                            border-radius: 9px;
                            .progress-bar {
                                border-radius: 5px;
                                background: rgb(103,178,111);
                                background: linear-gradient(135deg, rgba(103,178,111,1) 0%, rgba(76,162,205,1) 100%);
                            }
                        }
                    }
                    .content-list {
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        > li {
                            position: relative;
                            display: flex;
                            justify-content: space-between;
                            padding: $gap / 5 0;
                            color: $muted-text-color;
                            span, strong {
                                position: relative;
                                z-index: 2;
                                background-color: #ffffff;
                                padding-right: 5px;
                            }
                            > strong {
                                color: $text-color;
                                font-weight: 700;
                                padding-right: 0;
                                padding-left: 5px;
                            }
                            &:before {
                                left: 0;
                                right: 0;
                                position: absolute;
                                height: 1px;
                                content: "";
                                top: 51%;
                                background: repeating-linear-gradient(
                                to right,
                                $border-color,
                                $border-color 3px,
                                #ffffff 3px,
                                #ffffff 6px
                                );
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .projectdetail {
        &.overflow-content{
            .inner-content {
                margin-bottom: $gap / 1.5;
                .projectimg {
                    margin: -$gap;
                    margin-bottom: $gap / 1.5;
                }
            }
        }
    }
}

// Kemitraan
.btn-kemitraan {
    margin: $gap 0;
    .btn {
        width: 200px;
    }
}
@media screen and (max-width: 600px) {
    .btn-kemitraan {
        .btn {
            width: auto;
            &.btn-large {
                font-size: 14px;
                padding-left: 16px;
                padding-right: 16px;
                padding-top: 20px;
            }
        }
    }
}