// Import variable
@import 'vars.scss';

// Set root font size (16 is default)
:root {
    font-size: $root-font-size;
}
body {
    color: $text-color;
    font-family: $custom-google-font;
}
.card {
    border-color: $border-color;
}

.hero {
    background: url(../img/hero_main_img@2x.jpg);
    background-size: cover;
    position: relative;
    padding: 0;
    &:after {
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        position: absolute;
        background: rgb(103,178,111);
        background: linear-gradient(135deg, rgba(103,178,111,.75) 0%, rgba(76,162,205,.75) 100%);
    }
    .hero-content {
        padding: $gap * 5 0;
        position: relative;
        z-index: 2;
        color: #ffffff;
        h2 {
            font-size: 60px;
            font-weight: 700;
            margin-bottom: $gap;
        }
        p {
            font-size: 20px;
            color: rgba(255,255,255,.6);
            font-weight: 300;
            margin-bottom: $gap * 3;
        }
    }
}

header {
    height: 100px;
    position: relative;
    z-index: 3;
    box-shadow: 0px 1px 0px 0px rgba(255,255,255,.15);
    .logo {
        line-height: 100px;
        font-size: 28px;
        > a {
            color: #ffffff;
            text-decoration: none;
            font-weight: 700;
            &:hover {
                text-decoration: none;
                color: #ffffff;
            }
        }
    }
    .phone {
        padding: $gap / 3 0;
        color: #ffffff;
        padding-left: $gap;
        box-shadow: -1px 0px 0px 0px rgba(255,255,255,0.3);
        > i.icon {
            margin-right: $gap / 2;
        }
    }
    nav {
        font-size: 14px;
        margin-right: $gap / 2;
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            > li {
                display: inline-block;
                position: relative;
                text-transform: uppercase;
                &.active {
                    &:after {
                        content: "";
                        height: 2px;
                        width: 70px;
                        background-color: #ffffff;
                        position: absolute;
                        top: calc(100% + #{$gap});
                        left: 50%;
                        margin-left: -35px;
                    }
                    > a {
                        color: #ffffff;
                    }
                }
                > a {
                    display: block;
                    padding: $gap / 3 $gap / 1.5;
                    color: rgba(255,255,255,.5);
                    text-decoration: none;
                    &:hover {
                        text-decoration: none;
                        color: #ffffff;
                    }
                }
                > ul {
                    background-color: #ffffff;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.06);
                    padding-top: $gap /3;
                    padding-bottom: $gap /3;
                    border-radius: $radius;
                    display: none;
                    > li {
                        display: block;
                        width: 180px;
                        text-transform: none;
                        > a {
                            display: block;
                            padding: $gap / 4 $gap / 2;
                            color: $text-color;
                            text-decoration: none;
                            &:hover {
                                text-decoration: none;
                                background-color: $primary-color;
                            }
                        }
                    }
                }
            }
        }
    }
}


// Section
section {
    padding: $gap * 4 0;
    .section-heading {
        margin-bottom: $gap * 3;
        h3 {
            font-size: 42px;
            font-weight: 700;
            margin-bottom: $gap / 1.5;
        }
        p {
            font-size: 20px;
            font-weight: 300;
            color: $muted-text-color;
        }
    }
}

// Section bagaimana
.howitworks {
    box-shadow: 0px 1px 0px 0px $border-color;
    .card {
        position: relative;
        padding-top: $gap;
        margin-bottom: $gap;
        &:hover {
            box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.09);
            border-color: transparent;
        }
        &:before {
            position: absolute;
            left: 50%;
            margin-left: -15px;
            top: -15px;
            width: 30px;
            height: 30px;
            background-color: $accent-color;
            content: "";
            border-radius: 15px;
            z-index: 2;
            text-align: center;
            font-weight: 700;
            line-height: 30px;
            box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.25);
            color: #ffffff;
        }
        .card-body {
            padding: $gap;
            .point-img {
                width: 100%;
                max-width: 96px;
                margin-bottom: $gap;
            }
            .card-title {
                font-size: 22px;
            }
            .card-text {
                color: $muted-text-color;
                font-size: 14px;
            }
        }
        &.first{
            &:before {
                content: "1";
            }
        }
        &.second{
            &:before {
                content: "2";
            }
        }
        &.third{
            &:before {
                content: "3";
            }
        }
    }
}

// Section kenapa
.whyus {
    .content {
        // min-height: 626px;
        background: url(../img/why_image@2x.png);
        background-repeat: no-repeat;
        background-size: 705px 626px;
        z-index: 0;
        padding: $gap * 2 0;
        .media {
            border: 1px solid $border-color;
            background-color: #ffffff;
            border-radius: $radius;
            padding: $gap;
            margin-bottom: $gap / 1.5;
            .media-circle {
                margin-right: $gap;
                width: 88px;
                height: 88px;
                border-radius: 44px;
                font-size: 36px;
                text-align: center;
                line-height: 92px;
                color: #ffffff;
                position: relative;
                background: rgb(103,178,111);
                background: linear-gradient(135deg, rgba(103,178,111,1) 0%, rgba(76,162,205,1) 100%);
                &:before {
                    position: absolute;
                    z-index: 2;
                    top: -3px;
                    right: -4px;
                    width: 31px;
                    height: 30px;
                    content: "";
                    background: url(../img/why_check@2x.png);
                    background-repeat: no-repeat;
                    background-size: 31px 30px;
                }
            }
            .media-body {
                color: $muted-text-color;
                font-size: 16px;
                h5 {
                    color: $text-color;
                    font-size: 22px;
                    margin-top: 5px;
                }
            }
        }
    }
}

// Proyek pilihan
.theproject {
    &.homeproject {
        background-color: $light-bg;
    }
    .card {
        .img-wrap {
            position: relative;
            &:before {
                content: "";
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: rgb(0,0,0);
                background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.5) 100%);
                position: absolute;
                z-index: 1;
                width: 100%;
            }
            .project-status {
                position: absolute;
                z-index: 2;
                top: $gap / 3;
                right: 0;
                background: rgb(103,178,111);
                background: linear-gradient(135deg, rgba(103,178,111,1) 0%, rgba(76,162,205,1) 100%);
                padding: $gap / 6 $gap / 2;
                font-size: 14px;
                color: #ffffff;
                border-radius: 15px 0 0 15px;
                &.closed {
                    background: $muted-text-color;
                }
            }
            .project-progress {
                position: absolute;
                z-index: 2;
                bottom: 25px;
                right: $gap;
                left: $gap;
                .text-label {
                    color: #ffffff;
                    margin-bottom: $gap / 4;
                    font-size: 14px;
                }
                .progress {
                    padding: 4px;
                    background-color: rgba(255,255,255,.25);
                    height: 18px;
                    border-radius: 9px;
                    .progress-bar {
                        border-radius: 5px;
                        background: rgb(103,178,111);
                        background: linear-gradient(135deg, rgba(103,178,111,1) 0%, rgba(76,162,205,1) 100%);
                    }
                }
            }
        }
        .card-body {
            .card-title {
                font-size: 22px;
                font-weight: 600;
                > a {
                    color: $text-color;
                    text-decoration: none;
                    &:hover {
                        color: $text-color;
                        text-decoration: none;
                    }
                }
            }
            .card-subtitle {
                font-size: 14px;
                color: $muted-text-color;
                margin-bottom: $gap / 6;
            }
            .pricing {
                color: $yellow;
                padding: $gap / 6 $gap / 2;
                background-color: rgba($accent-color,.25);
                border-radius: 15px;
                font-weight: 700;
            }
            .content-list {
                list-style: none;
                padding: 0;
                margin: $gap / 1.5 0;
                > li {
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    padding: $gap / 5 0;
                    color: $muted-text-color;
                    span, strong {
                        position: relative;
                        z-index: 2;
                        background-color: #ffffff;
                        padding-right: 5px;
                    }
                    > strong {
                        color: $text-color;
                        font-weight: 700;
                        padding-right: 0;
                        padding-left: 5px;
                    }
                    &:before {
                        left: 0;
                        right: 0;
                        position: absolute;
                        height: 1px;
                        content: "";
                        top: 51%;
                        background: repeating-linear-gradient(
                        to right,
                        $border-color,
                        $border-color 3px,
                        #ffffff 3px,
                        #ffffff 6px
                        );
                    }
                }
            }
        }
    }
}

// Dalam angla
.orifact {
    .fact-circle {
        margin-bottom: $gap;
        text-align: center;
        .circle {
            width: 120px;
            height: 120px;
            border-radius: 60px;
            margin: 0 auto;
            margin-bottom: $gap / 1.5;
            background: rgb(103,178,111);
            background: linear-gradient(135deg, rgba(103,178,111,1) 0%, rgba(76,162,205,1) 100%);
            .content {
                width: 96px;
                height: 96px;
                background-color: #ffffff;
                border-radius: 48px;
                font-size: 36px;
                font-weight: 700;
                small {
                    font-size: 14px;
                    font-weight: 400;
                    color: $muted-text-color;
                    display: block;
                    margin-top: -($gap / 2);
                }
            }
        }
        span {
            font-size: 18px;
            font-weight: 600;
        }
    }
}

// CTA
.cta {
    background: url(../img/cta_bg_img@2x.jpg);
    background-size: cover;
    position: relative;
    &:after {
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        position: absolute;
        background: rgb(103,178,111);
        background: linear-gradient(135deg, rgba(103,178,111,.75) 0%, rgba(76,162,205,.75) 100%);
    }
    .content {
        position: relative;
        z-index: 3;
        .section-heading {
            margin-bottom: $gap * 2;
            h3 {
                font-size: 36px;
                color: #ffffff;
            }
            p {
                color: #ffffff;
            }
        }
    }
}
