/*!
 * oriweb
 * Ori Website HTML
 * git+https://github.com/uiuxmsmb/oriweb.git
 * @author PT MSMB Indonesia
 * @version 1.0.0
 * Copyright 2020. UNLICENSED licensed.
 */
:root {
  font-size: 16px; }

body {
  color: #4A4A4A;
  font-family: "Source Sans Pro", sans-serif; }

.card {
  border-color: #E5E5EA; }

.hero {
  background: url(../img/hero_main_img@2x.jpg);
  background-size: cover;
  position: relative;
  padding: 0; }
  .hero:after {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    position: absolute;
    background: #67b26f;
    background: -o-linear-gradient(315deg, rgba(103, 178, 111, 0.75) 0%, rgba(76, 162, 205, 0.75) 100%);
    background: linear-gradient(135deg, rgba(103, 178, 111, 0.75) 0%, rgba(76, 162, 205, 0.75) 100%); }
  .hero .hero-content {
    padding: 150px 0;
    position: relative;
    z-index: 2;
    color: #ffffff; }
    .hero .hero-content h2 {
      font-size: 60px;
      font-weight: 700;
      margin-bottom: 30px; }
    .hero .hero-content p {
      font-size: 20px;
      color: rgba(255, 255, 255, 0.6);
      font-weight: 300;
      margin-bottom: 90px; }

header {
  height: 100px;
  position: relative;
  z-index: 3;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.15);
          box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.15); }
  header .logo {
    line-height: 100px;
    font-size: 28px; }
    header .logo > a {
      color: #ffffff;
      text-decoration: none;
      font-weight: 700; }
      header .logo > a:hover {
        text-decoration: none;
        color: #ffffff; }
  header .phone {
    padding: 10px 0;
    color: #ffffff;
    padding-left: 30px;
    -webkit-box-shadow: -1px 0px 0px 0px rgba(255, 255, 255, 0.3);
            box-shadow: -1px 0px 0px 0px rgba(255, 255, 255, 0.3); }
    header .phone > i.icon {
      margin-right: 15px; }
  header nav {
    font-size: 14px;
    margin-right: 15px; }
    header nav ul {
      padding: 0;
      margin: 0;
      list-style: none; }
      header nav ul > li {
        display: inline-block;
        position: relative;
        text-transform: uppercase; }
        header nav ul > li.active:after {
          content: "";
          height: 2px;
          width: 70px;
          background-color: #ffffff;
          position: absolute;
          top: calc(100% + 30px);
          left: 50%;
          margin-left: -35px; }
        header nav ul > li.active > a {
          color: #ffffff; }
        header nav ul > li > a {
          display: block;
          padding: 10px 20px;
          color: rgba(255, 255, 255, 0.5);
          text-decoration: none; }
          header nav ul > li > a:hover {
            text-decoration: none;
            color: #ffffff; }
        header nav ul > li > ul {
          background-color: #ffffff;
          position: absolute;
          top: 100%;
          left: 0;
          -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.06);
                  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.06);
          padding-top: 10px;
          padding-bottom: 10px;
          border-radius: 4px;
          display: none; }
          header nav ul > li > ul > li {
            display: block;
            width: 180px;
            text-transform: none; }
            header nav ul > li > ul > li > a {
              display: block;
              padding: 7.5px 15px;
              color: #4A4A4A;
              text-decoration: none; }
              header nav ul > li > ul > li > a:hover {
                text-decoration: none;
                background-color: #4CA2CD; }

section {
  padding: 120px 0; }
  section .section-heading {
    margin-bottom: 90px; }
    section .section-heading h3 {
      font-size: 42px;
      font-weight: 700;
      margin-bottom: 20px; }
    section .section-heading p {
      font-size: 20px;
      font-weight: 300;
      color: #9B9B9B; }

.howitworks {
  -webkit-box-shadow: 0px 1px 0px 0px #E5E5EA;
          box-shadow: 0px 1px 0px 0px #E5E5EA; }
  .howitworks .card {
    position: relative;
    padding-top: 30px;
    margin-bottom: 30px; }
    .howitworks .card:hover {
      -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.09);
              box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.09);
      border-color: transparent; }
    .howitworks .card:before {
      position: absolute;
      left: 50%;
      margin-left: -15px;
      top: -15px;
      width: 30px;
      height: 30px;
      background-color: #F5BE23;
      content: "";
      border-radius: 15px;
      z-index: 2;
      text-align: center;
      font-weight: 700;
      line-height: 30px;
      -webkit-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.25);
              box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.25);
      color: #ffffff; }
    .howitworks .card .card-body {
      padding: 30px; }
      .howitworks .card .card-body .point-img {
        width: 100%;
        max-width: 96px;
        margin-bottom: 30px; }
      .howitworks .card .card-body .card-title {
        font-size: 22px; }
      .howitworks .card .card-body .card-text {
        color: #9B9B9B;
        font-size: 14px; }
    .howitworks .card.first:before {
      content: "1"; }
    .howitworks .card.second:before {
      content: "2"; }
    .howitworks .card.third:before {
      content: "3"; }

.whyus .content {
  background: url(../img/why_image@2x.png);
  background-repeat: no-repeat;
  background-size: 705px 626px;
  z-index: 0;
  padding: 60px 0; }
  .whyus .content .media {
    border: 1px solid #E5E5EA;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 30px;
    margin-bottom: 20px; }
    .whyus .content .media .media-circle {
      margin-right: 30px;
      width: 88px;
      height: 88px;
      border-radius: 44px;
      font-size: 36px;
      text-align: center;
      line-height: 92px;
      color: #ffffff;
      position: relative;
      background: #67b26f;
      background: -o-linear-gradient(315deg, #67b26f 0%, #4ca2cd 100%);
      background: linear-gradient(135deg, #67b26f 0%, #4ca2cd 100%); }
      .whyus .content .media .media-circle:before {
        position: absolute;
        z-index: 2;
        top: -3px;
        right: -4px;
        width: 31px;
        height: 30px;
        content: "";
        background: url(../img/why_check@2x.png);
        background-repeat: no-repeat;
        background-size: 31px 30px; }
    .whyus .content .media .media-body {
      color: #9B9B9B;
      font-size: 16px; }
      .whyus .content .media .media-body h5 {
        color: #4A4A4A;
        font-size: 22px;
        margin-top: 5px; }

.theproject.homeproject {
  background-color: #FAFAFA; }

.theproject .card .img-wrap {
  position: relative; }
  .theproject .card .img-wrap:before {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: black;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5)));
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    position: absolute;
    z-index: 1;
    width: 100%; }
  .theproject .card .img-wrap .project-status {
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 0;
    background: #67b26f;
    background: -o-linear-gradient(315deg, #67b26f 0%, #4ca2cd 100%);
    background: linear-gradient(135deg, #67b26f 0%, #4ca2cd 100%);
    padding: 5px 15px;
    font-size: 14px;
    color: #ffffff;
    border-radius: 15px 0 0 15px; }
    .theproject .card .img-wrap .project-status.closed {
      background: #9B9B9B; }
  .theproject .card .img-wrap .project-progress {
    position: absolute;
    z-index: 2;
    bottom: 25px;
    right: 30px;
    left: 30px; }
    .theproject .card .img-wrap .project-progress .text-label {
      color: #ffffff;
      margin-bottom: 7.5px;
      font-size: 14px; }
    .theproject .card .img-wrap .project-progress .progress {
      padding: 4px;
      background-color: rgba(255, 255, 255, 0.25);
      height: 18px;
      border-radius: 9px; }
      .theproject .card .img-wrap .project-progress .progress .progress-bar {
        border-radius: 5px;
        background: #67b26f;
        background: -o-linear-gradient(315deg, #67b26f 0%, #4ca2cd 100%);
        background: linear-gradient(135deg, #67b26f 0%, #4ca2cd 100%); }

.theproject .card .card-body .card-title {
  font-size: 22px;
  font-weight: 600; }
  .theproject .card .card-body .card-title > a {
    color: #4A4A4A;
    text-decoration: none; }
    .theproject .card .card-body .card-title > a:hover {
      color: #4A4A4A;
      text-decoration: none; }

.theproject .card .card-body .card-subtitle {
  font-size: 14px;
  color: #9B9B9B;
  margin-bottom: 5px; }

.theproject .card .card-body .pricing {
  color: #EAAE03;
  padding: 5px 15px;
  background-color: rgba(245, 190, 35, 0.25);
  border-radius: 15px;
  font-weight: 700; }

.theproject .card .card-body .content-list {
  list-style: none;
  padding: 0;
  margin: 20px 0; }
  .theproject .card .card-body .content-list > li {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 6px 0;
    color: #9B9B9B; }
    .theproject .card .card-body .content-list > li span, .theproject .card .card-body .content-list > li strong {
      position: relative;
      z-index: 2;
      background-color: #ffffff;
      padding-right: 5px; }
    .theproject .card .card-body .content-list > li > strong {
      color: #4A4A4A;
      font-weight: 700;
      padding-right: 0;
      padding-left: 5px; }
    .theproject .card .card-body .content-list > li:before {
      left: 0;
      right: 0;
      position: absolute;
      height: 1px;
      content: "";
      top: 51%;
      background: -o-repeating-linear-gradient(left, #E5E5EA, #E5E5EA 3px, #ffffff 3px, #ffffff 6px);
      background: repeating-linear-gradient(to right, #E5E5EA, #E5E5EA 3px, #ffffff 3px, #ffffff 6px); }

.orifact .fact-circle {
  margin-bottom: 30px;
  text-align: center; }
  .orifact .fact-circle .circle {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin: 0 auto;
    margin-bottom: 20px;
    background: #67b26f;
    background: -o-linear-gradient(315deg, #67b26f 0%, #4ca2cd 100%);
    background: linear-gradient(135deg, #67b26f 0%, #4ca2cd 100%); }
    .orifact .fact-circle .circle .content {
      width: 96px;
      height: 96px;
      background-color: #ffffff;
      border-radius: 48px;
      font-size: 36px;
      font-weight: 700; }
      .orifact .fact-circle .circle .content small {
        font-size: 14px;
        font-weight: 400;
        color: #9B9B9B;
        display: block;
        margin-top: -15px; }
  .orifact .fact-circle span {
    font-size: 18px;
    font-weight: 600; }

.cta {
  background: url(../img/cta_bg_img@2x.jpg);
  background-size: cover;
  position: relative; }
  .cta:after {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    position: absolute;
    background: #67b26f;
    background: -o-linear-gradient(315deg, rgba(103, 178, 111, 0.75) 0%, rgba(76, 162, 205, 0.75) 100%);
    background: linear-gradient(135deg, rgba(103, 178, 111, 0.75) 0%, rgba(76, 162, 205, 0.75) 100%); }
  .cta .content {
    position: relative;
    z-index: 3; }
    .cta .content .section-heading {
      margin-bottom: 60px; }
      .cta .content .section-heading h3 {
        font-size: 36px;
        color: #ffffff; }
      .cta .content .section-heading p {
        color: #ffffff; }
