/*!
 * oriweb
 * Ori Website HTML
 * git+https://github.com/uiuxmsmb/oriweb.git
 * @author PT MSMB Indonesia
 * @version 1.0.0
 * Copyright 2020. UNLICENSED licensed.
 */
:root {
  font-size: 16px; }

body {
  color: #4A4A4A; }

.hero {
  background: url(../img/hero_main_img@2x.jpg);
  background-size: cover;
  position: relative;
  padding: 0; }
  .hero:after {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    position: absolute;
    background: #67b26f;
    background: -o-linear-gradient(315deg, rgba(103, 178, 111, 0.75) 0%, rgba(76, 162, 205, 0.75) 100%);
    background: linear-gradient(135deg, rgba(103, 178, 111, 0.75) 0%, rgba(76, 162, 205, 0.75) 100%); }
  .hero .hero-content {
    padding: 150px 0;
    position: relative;
    z-index: 2;
    color: #ffffff; }
    .hero .hero-content h2 {
      font-size: 60px;
      font-weight: 700;
      margin-bottom: 30px; }
    .hero .hero-content p {
      font-size: 20px;
      color: rgba(255, 255, 255, 0.6);
      font-weight: 300;
      margin-bottom: 90px; }

header {
  height: 100px;
  position: relative;
  z-index: 3;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.15);
          box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.15); }
  header .logo {
    line-height: 100px;
    font-size: 28px; }
    header .logo > a {
      color: #ffffff;
      text-decoration: none;
      font-weight: 700; }
      header .logo > a:hover {
        text-decoration: none;
        color: #ffffff; }
  header .phone {
    padding: 10px 0;
    color: #ffffff;
    padding-left: 30px;
    -webkit-box-shadow: -1px 0px 0px 0px rgba(255, 255, 255, 0.3);
            box-shadow: -1px 0px 0px 0px rgba(255, 255, 255, 0.3); }
    header .phone > i.icon {
      margin-right: 15px; }
  header nav {
    font-size: 14px;
    margin-right: 15px; }
    header nav ul {
      padding: 0;
      margin: 0;
      list-style: none; }
      header nav ul > li {
        display: inline-block;
        position: relative;
        text-transform: uppercase; }
        header nav ul > li.active:after {
          content: "";
          height: 2px;
          width: 70px;
          background-color: #ffffff;
          position: absolute;
          top: calc(100% + 30px);
          left: 50%;
          margin-left: -35px; }
        header nav ul > li.active > a {
          color: #ffffff; }
        header nav ul > li > a {
          display: block;
          padding: 10px 20px;
          color: rgba(255, 255, 255, 0.5);
          text-decoration: none; }
          header nav ul > li > a:hover {
            text-decoration: none;
            color: #ffffff; }
        header nav ul > li > ul {
          background-color: #ffffff;
          position: absolute;
          top: 100%;
          left: 0;
          -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.06);
                  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.06);
          padding-top: 10px;
          padding-bottom: 10px;
          border-radius: 4px;
          display: none; }
          header nav ul > li > ul > li {
            display: block;
            width: 180px;
            text-transform: none; }
            header nav ul > li > ul > li > a {
              display: block;
              padding: 7.5px 15px;
              color: #4A4A4A;
              text-decoration: none; }
              header nav ul > li > ul > li > a:hover {
                text-decoration: none;
                background-color: #4CA2CD; }

section {
  padding: 120px 0; }
  section .section-heading {
    margin-bottom: 60px; }
    section .section-heading h3 {
      font-size: 42px;
      font-weight: 700; }
    section .section-heading p {
      font-size: 20px;
      font-weight: 300;
      color: #9B9B9B; }

.howitworks .card {
  position: relative;
  padding-top: 30px;
  margin-bottom: 30px; }
  .howitworks .card:hover {
    -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.09);
            box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.09);
    border-color: transparent; }
  .howitworks .card:before {
    position: absolute;
    left: 50%;
    margin-left: -15px;
    top: -15px;
    width: 30px;
    height: 30px;
    background-color: #F5BE23;
    content: "";
    border-radius: 15px;
    z-index: 2;
    text-align: center;
    font-weight: 700;
    line-height: 30px;
    -webkit-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.25);
    color: #ffffff; }
  .howitworks .card .card-body {
    padding: 30px; }
    .howitworks .card .card-body .point-img {
      width: 100%;
      max-width: 96px;
      margin-bottom: 30px; }
    .howitworks .card .card-body .card-title {
      font-size: 22px; }
    .howitworks .card .card-body .card-text {
      color: #9B9B9B;
      font-size: 14px; }
  .howitworks .card.first:before {
    content: "1"; }
  .howitworks .card.second:before {
    content: "2"; }
  .howitworks .card.third:before {
    content: "3"; }
